@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scrollbar-width: auto;
  scrollbar-color: #4e4e4e #141414;
}

body {
  background-color: #141414;
  color: white;
  overscroll-behavior-y: none;
}

/* Custom Scrollbar Design */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background: #141414;
}

::-webkit-scrollbar-thumb {
  background-color: #4e4e4e;
  border-radius: 10px;
  border: 4px solid #141414;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

::-webkit-scrollbar-corner {
  background: #141414;
}

/* Utilities */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
